$primiary-color: #fcac59;

$background-Select-gray: rgb(195, 199, 196);

//fonts
$mainFont: "Montserrat", sans-serif;
$secondaryFont: "Cabin", sans-serif;

//sizes
$font-bg: 2rem;
$font-md: 1.5rem;
$font-sm: 1.2rem;
//colors
$primary-color: #fcac59;
$secondary-color: #212121;

//z-indexes for common
$backdrop: 1000;
.basicCart {
  background-color: #bd4f6c;
  background-image: linear-gradient(326deg, #bd4f6c 0%, #d7816a 74%);
  border-radius: 10px;
  box-shadow: 5px 5px 15px black;
}
@mixin containerLaptop {
  width: 96rem;
}
@mixin buttonTransparent {
  border: none;
  background: transparent;
}

@mixin mainFontBold {
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
}

@mixin centerWithTranslate {
  margin-left: 50%;
  transform: translate(-50%);
}

@mixin centerAbsolute {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin flexLayout {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@mixin basicCart {
  background-color: #bd4f6c;
  background-image: linear-gradient(326deg, #bd4f6c 0%, #d7816a 74%);
  border-radius: 10px;
  box-shadow: 5px 5px 15px black;
}

@mixin button {
  background-color: rgb(62, 175, 124);
  color: White;
  border: none;
  border-radius: 20px;
  font-family: inherit;
  text-decoration: none;
}
@mixin mainBorder {
  border: $primiary-color 3px solid;
  border-radius: 5px;
}
@mixin baseButton {
  background: transparent;
  border: 2px solid $primiary-color;
  border-radius: 5px;
  color: inherit;
  padding: 1rem;
}
@mixin setBorders($width, $radius) {
  border: $primiary-color $width solid;
  border-radius: $radius;
}
@mixin disabledButton {
  opacity: 0.7;
  cursor: default;
}

@mixin setAndResizeBackgroundImg($url) {
  background-image: url($url);
  background-size: cover;
  background-repeat: no-repeat;
}

@mixin fadeInAnim {
  @keyframes fadeInAnim {
    0% {
      opacity: 0.1;
    }
    100% {
      opacity: 1;
    }
  }
}
