$mainFont: "Cabin", sans-serif;
$primiary-color: #d47304;
$background-Select-gray: rgb(195, 199, 196);
$font-bg: 2rem;
$font-md: 1.5rem;
$font-sm: 1.2rem;

@mixin containerPosition {
  width: 95%;
  max-width: 140rem;
  margin-left: 50%;
  transform: translate(-50%);
}

@mixin mainFontBold {
  $mainFont: "Cabin", sans-serif;
  font-weight: 700;
}

@mixin centerWithTranslate {
  margin-left: 50%;
  transform: translate(-50%);
}

@mixin centerAbsolute {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin flexLayout {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@mixin mainBorder {
  border: $primiary-color 3px solid;
  border-radius: 5px;
}
@mixin baseButton {
  background: transparent;
  border: 2px solid $primiary-color;
  border-radius: 5px;
  color: inherit;
  padding: 1rem;
}
@mixin setBorders($width, $radius) {
  border: $primiary-color $width solid;
  border-radius: $radius;
}

@mixin setAndResizeBackgroundImg($url) {
  background-image: url($url);
  background-size: cover;
  background-repeat: no-repeat;
}

@mixin fadeInAnim {
  @keyframes fadeInAnim {
    0% {
      opacity: 0.1;
    }
    100% {
      opacity: 1;
    }
  }
}
